@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: #26232e;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  overflow-x: hidden;
  @media (max-width: 640px) {
    padding: 10px;
  }
}

.container {
  width: 100%; 
  max-width: 1440px; 
  margin: 0 auto;
  padding: 20px;
  border: 1px solid white;
  border-radius: 15px;

  @media (max-width: 640px) {
    padding: 10px;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1, p {
  color: white;
  padding: 0;
}

h4 {
  padding: 0;
}
